<footer class="page-footer">
      <div class="uk-container">
        <div class="page-footer__inner">
          <div class="page-footer__logo">
            <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="../assets/img/logo-white.png" alt="GetRider"></a></div>
          </div>
          <div class="page-footer__text">
            <p>所有數據僅收集研究資料使用</p>
          </div>
          <div class="page-footer__copy"> <span>2025 YehLab</span></div>
        </div>
      </div><!-- Additional blocks-->
      
      <div class="uk-flex-top" id="callback" data-uk-modal="">
        <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical"><button class="uk-modal-close-default" type="button" data-uk-close=""></button>
          <p>OOO</p>
        </div>
      </div><!-- End Additional blocks-->
</footer>