<header class="page-header">
  <div class="page-header__scroll" data-uk-sticky>
    <div class="uk-container">
      <div class="page-header__inner">
        <div class="page-header__logo">
          <div class="logo"><a class="logo__link" href="/login.html"><img class="logo__img" src="../assets/img/logo.png" alt="GetRider"></a></div>
        </div>
        <div class="page-header__menu">
          <nav class="page-nav" data-uk-navbar="">
            <ul class="uk-navbar-nav">
              <li>
                <h4 id="studentName">訪客</h4>
              </li>
              <!-- <li><a href="07_typography.html">114-1 實驗組</a></li>
              <li><a href="07_typography.html">114-1 控制組</a></li>
              <li> <a href="06_contact.html">關於本研究</a></li> -->
            </ul>
          </nav>
        </div>
        <div class="page-header__phone">
            <!-- <a class="uk-button uk-button-danger" id="loginBtn" href="/login.html"><span>登入</span></a> 
            <button class="uk-button uk-button-secondary" id="logoutBtn" style="display: none;">登出</button> -->
        </div>
        <div class="page-header__btn"> <a class="uk-button uk-button-danger" href="#offcanvas" data-uk-toggle data-uk-icon="menu"></a></div>
      </div>
    </div>
  </div>
</header>