<div id="offcanvas" data-uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column uk-flex-between">
        <button class="uk-offcanvas-close" type="button" data-uk-close=""></button>
        <div class="uk-margin">
            <div class="uk-margin-bottom">
                <div class="logo"><a class="logo__link" href="/"><img class="logo__img" src="../assets/img/logo-white.png" alt="GetRider"></a></div>
            </div>
            <div class="uk-margin">
                <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
                    <li>
                        <h4 id="studentName">訪客</h4>
                    </li>
                    <!-- <li><a href="#"> <img src="assets/img/news-paper.svg" data-uk-svg alt="news-paper">News</a></li> -->
                </ul>
            </div>
        </div>
        <div class="uk-margin">
            <a class="uk-button uk-button-danger uk-width-1-1" id="loginBtnMobile" href="/login.html"><span>登入</span></a>
            <button class="uk-button uk-button-secondary uk-width-1-1" id="logoutBtnMobile" style="display: none;">登出</button>
        </div>
    </div>
</div>